@font-face {
  font-family: "hero-new";
  src: local("hero-new"),
    url("../src/Assets/Fonts/Hero\ New\ Regular.woff") format("truetype");
  /* font-family: "hero-new-normal";
  src: local("hero-new-normal"),
    url("../src/Assets/Fonts/Hero_New_Light.woff") format("truetype"); */
}
body {
  margin: 0;
  font-family: hero-new, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

code {
  font-family: hero-new, sans-serif;
}

